*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2, h4 {
  text-transform: uppercase;
}

p {
  text-align: justify;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  height: 5rem;
  box-shadow: 0 0 4px gray;
}
.header .logo {
  width: 25%;
  display: flex;
  justify-content: center;
}
.header .logo a {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .logo a .braket {
  font-size: 3rem;
  color: black;
}
.header .logo a .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: black;
}
.header .logo a .content .name {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}
.header .logo a .content .position {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bolder;
  font-size: 0.7rem;
}
.header .navbar {
  width: 45%;
  font-weight: bolder;
  align-self: center;
}
.header .navbar ul {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
}
.header .navbar ul li {
  letter-spacing: 1.5px;
  font-size: 14px;
}
.header .navbar ul li a {
  color: black;
}
.header .navbar ul li :hover {
  text-decoration: underline;
}
.header .navbar ul .close-menu {
  display: none;
}
.header .social-media {
  display: flex;
  justify-content: space-around;
  width: 6rem;
}
.header .social-media img {
  width: 1.7rem;
  height: 1.7rem;
}
.header .language-toggle {
  width: 3rem;
  position: relative;
  display: flex;
  justify-content: end;
}
.header .language-toggle__flag-button {
  background-image: url("../img/flag-eng.svg");
  background-size: cover;
  width: 1.7rem;
  height: 1.3rem;
  right: 0;
  border: none;
}
.header .language-toggle__flag-button:hover {
  cursor: pointer;
}
.header .language-toggle__flag-button--eng {
  background-image: url("../img/flag-eng.svg");
}
.header .language-toggle__flag-button--esp {
  background-image: url("../img/flag-esp.svg");
}
.header .language-toggle__menu {
  position: absolute;
  display: none;
  background-color: white;
  right: 0;
  top: 1.2rem;
  width: 5rem;
}
.header .language-toggle__menu li {
  line-height: 2rem;
  border: 1px solid gray;
  font-size: 0.7rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 0.4rem;
}
.header .language-toggle__menu li:hover {
  font-weight: bolder;
  color: white;
  background-color: black;
}
.header .language-toggle__menu :last-child {
  border-top: none;
}
.header .language-toggle__menu--visible {
  display: block;
}
@media (max-width: 480px) {
  .header .logo {
    width: 70%;
  }
  .header .navbar {
    width: auto;
    display: none;
  }
  .header .social-media {
    display: none;
  }
  .header .language-toggle__menu {
    width: 10rem;
  }
  .header .language-toggle__menu li {
    line-height: 4rem;
    font-size: 1rem;
  }
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__hero {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 6rem;
}
.main__hero .illustration {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__hero .illustration img {
  width: 60%;
}
@media (max-width: 480px) {
  .main__hero .illustration {
    width: 100%;
  }
}
.main__hero .presentation {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.main__hero .presentation h1 {
  width: 70%;
  margin: 0 auto;
  font-size: 2.5rem;
}
.main__hero .presentation p {
  width: 70%;
  line-height: 2rem;
  font-size: 1.3rem;
}
@media (max-width: 480px) {
  .main__hero .presentation {
    width: 100%;
    margin-top: 3rem;
  }
  .main__hero .presentation h1 {
    width: 90%;
  }
  .main__hero .presentation p {
    width: 90%;
  }
}
@media (max-width: 480px) {
  .main__hero {
    flex-direction: column-reverse;
    margin-top: 3rem;
  }
  .main__hero .presentation h1 {
    font-size: 2.5rem;
  }
}
.main__portfolio {
  margin-top: 7rem;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__portfolio h2 {
  text-align: center;
}
.main__portfolio .project {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__portfolio .project .screenshot {
  width: 50%;
}
.main__portfolio .project .screenshot img {
  width: 25rem;
  border-radius: 5px;
}
.main__portfolio .project .overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.main__portfolio .project .overview h4 {
  text-transform: uppercase;
}
.main__portfolio .project .overview p {
  line-height: 1.5rem;
}
.main__portfolio .project .overview .buttons-container .button {
  display: inline-block;
  background-color: green;
  color: white;
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
@media (max-width: 480px) {
  .main__portfolio {
    text-align: center;
    width: 100%;
  }
  .main__portfolio .project {
    flex-direction: column;
  }
  .main__portfolio .project .screenshot {
    width: 100%;
    padding: 1rem;
  }
  .main__portfolio .project .screenshot img {
    width: 80%;
  }
  .main__portfolio .project .overview {
    width: 80%;
  }
  .main__portfolio .project .overview .buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
.main__about {
  margin-top: 7rem;
  width: 75%;
  padding: 0 1.5rem 0 1.5rem;
}
.main__about h2 {
  text-align: center;
}
.main__about p {
  margin-top: 2rem;
  line-height: 1.5rem;
}
@media (max-width: 480px) {
  .main__about {
    width: 90%;
  }
}
.main__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding-top: 7rem;
}
.main__skills .skills-container {
  width: 70%;
  padding-top: 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.main__skills .skills-container .skill {
  display: inline-block;
  background-color: black;
  color: white;
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
.main__skills .skills-container .skill {
  margin: auto;
}
@media (max-width: 480px) {
  .main__skills .skills-container {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .main__skills .skills-container .skill {
    width: 100%;
  }
}
.main__certifications {
  margin-top: 7rem;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__certifications h2 {
  text-align: center;
}
.main__certifications .certification {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__certifications .certification .screenshot {
  width: 50%;
}
.main__certifications .certification .screenshot img {
  height: 15rem;
  border-radius: 5px;
}
.main__certifications .certification .overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.main__certifications .certification .overview p {
  line-height: 1.5rem;
}
.main__certifications .certification .overview .button {
  display: inline-block;
  background-color: green;
  color: white;
  width: 12rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}
@media (max-width: 480px) {
  .main__certifications {
    width: 100%;
  }
  .main__certifications .certification {
    width: 100%;
    flex-direction: column-reverse;
    text-align: center;
    margin-bottom: 2rem;
  }
  .main__certifications .certification .overview {
    margin-bottom: 2rem;
    width: 80%;
  }
}
.main__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  padding: 7rem 0 3rem 0;
}
.main__contact h2 {
  text-align: center;
}
.main__contact .contact-info {
  width: 60%;
  margin-top: 2rem;
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
}
.main__contact .contact-info span {
  font-weight: bolder;
}
@media (max-width: 480px) {
  .main__contact {
    width: 100%;
  }
  .main__contact .contact-info {
    width: 80%;
    flex-direction: column;
  }
}

.footer {
  background-color: black;
  height: 10rem;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}
.footer__social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
}
.footer__social-media .icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__social-media .icon-container .icon {
  border-radius: 50%;
  background-color: white;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.footer__social-media .icon-container .icon img {
  width: 2rem;
  height: 2rem;
}
.footer__social-media .icon-container .title {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  letter-spacing: 1.3px;
}
@media (max-width: 480px) {
  .footer__social-media {
    width: 70%;
  }
}/*# sourceMappingURL=styles.css.map */