@forward 'globals';

@mixin button($name, $b-color, $f-color, $width, $height, $line-height) {
    .#{$name} {
        display: inline-block;
        background-color: #{$b-color};
        color: #{$f-color};
        width: #{$width}rem;
        height: #{$height}rem;;
        line-height: #{$line-height}rem;
        border-radius: 5px;
        user-select: none;
        text-align: center;
        
    }
}

@mixin flex-section($class-name, $width ) {
    
    .#{$class-name} {
        margin-top: 5rem;
        width: #{$width};
    }
}


header {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    //opacity: 1;
    
    height: 5rem;
    box-shadow: 0 4px 5px gray;

    .logo-container {
        width: 30%;
        
        //border: 0.1rem solid yellow;

        .logo {

            display: flex;

            a {
                display: flex;
                user-select: none;

                .llave {
                    font-size: 3rem;
                    color: black;
                }

                .texto {
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    color: black;

                    .name {
                        
                        font-size: 2rem;
                        letter-spacing: 0.1rem;
                        font-weight: bolder;
                        font-family: 'Courier New', Courier, monospace;

                    }
                    .position {

                        text-transform: uppercase;
                        letter-spacing: 0.2rem;
                        font-weight: bolder;
                        font-size: 0.7rem;
                                            }
                }
            }
        }
    
    }
        
    .navbar-container {
        width: 50%;
        font-weight: bolder;
        //border: 0.1rem solid blue;
        
        nav {
            
            ul {
                display: flex;
                justify-content: space-evenly;
                text-transform: uppercase;
    
                li {
                    letter-spacing: 1.5px;
                    font-size: 14px;
                    
                    a {
                        color: black;
                    }

                    :hover {
                        font-weight: bolder;
                        text-decoration: underline;
                    }
                }

                .close-menu {
                    display: none;
                }
            }
        }
    }
        
    .social-media-container {
        width: 8%;
        display: flex;
        justify-content: center;

        //border: 0.1rem solid red;
        
        ul {
            display: flex;
            justify-content: space-around;
            width: 6rem;
            img {
                width: 1.5rem;
            }
        }
        
    }

    .open-menu {
        display: none;
    }

    
}


main {
    /*
    section, div {
        border: 0.1px solid blue;
    }
    */
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    
    .hero {
        display: flex;
        //align-self: center;
        justify-content: space-evenly;
        width: 100%;
        height: 25rem;
        align-items: center;
        background-image: url('../img/hero.jpg');
        background-repeat:no-repeat;
        color: white;
        
        .saludo {
            //padding: 80px;
            width: 25%;
            font-size: 2rem;
            text-align: center;
            line-height: 5rem;
        
            h1 {
                //color: white;
                text-shadow: 1px;
            }
        }

        .presentation {
        
            width: 40%;
            text-align: center;
            font-size: 1.3rem;
            line-height: 2rem;
            letter-spacing: 1px;

        }
    }

    .portfolio {
        margin-top: 7rem;
        width: 75%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h2 {
            text-align: center;
        }
        .project {
            padding-top: 4rem;
            display: flex;
            justify-content: space-between;    
            align-items: center;
            
            .screenshot {
                width: 50%;
                
                img {
                    width: 25rem;
                    border-radius: 5px;
                };
            }

            .overview {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                h3 {    
                  line-height: 4rem;  
                }
                p {
                    line-height: 1.5rem;
                }

                .buttons-container {
                    
                    @include button('button', green, white, 8, 2, 2);
                    
                }
            }
        }
    }

    .about-me {
        
        margin-top: 7rem;
        width: 75%;
        
        h2 {
            text-align: center;
        }
        
        ul {
            margin-top: 2rem;
            padding-left: 2rem;
            line-height: 2rem;
        }

    }

    .certifications {
        
        margin-top: 7rem;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h2 {
            text-align: center;
        }

        .certification {
            padding-top: 4rem;
            display: flex;
            justify-content: space-between;    
            align-items: center;
            //height: 28rem;
            
            .screenshot {
                width: 50%;
                
                img {
                    //width: 25rem;
                    height: 20rem;
                    border-radius: 5px;
                };
            }

            .overview {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                h3 {    
                  line-height: 4rem;  
                }

                p {
                    line-height: 1.5rem;
                }

                @include button('button', green, white, 12, 2, 2);
                
            }
        }
    }

    .skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        padding-top: 7rem;
        //text-align: center;
        
        .skills-container {
            width: 70%;
            padding-top: 3rem;
            display: grid;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            @include button('skill', black, white, 8, 2, 2);
            .skill {margin: auto;}
        }

    }
    
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        padding: 7rem 0 3rem 0;
        
        h2 {
            text-align: center;
        }

        .contact-info {
            
            width: 60%;
            margin-top: 2rem;
            line-height: 2rem;
            display: flex;
            justify-content: space-between;
        
            span {
                font-weight: bolder;
            }
        }
       
    }
}

footer {

    background-color: black;
    height: 10rem;
    display: flex;
    //flex-direction: column;
    justify-content: center;
    font-size: 0.9rem;
    //padding-bottom: 3rem;


    .social-media {

        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        
        .icon-container {

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .icon {
                border-radius: 50%;
                background-color: white;
                width: 4rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                align-self: center;
                
                img {
                    width: 2rem;
                    height: 2rem;
                }
        
            }

            .title {
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 2.5rem;
                letter-spacing: 1.3px;
            }

        }
        
        
    }

}







// MEDIA QUERY

@media (max-width: 950px) {

    header {
        .logo {

            display: flex;
            padding-left: 5px;
    
        }
    
        nav {
            // padding-right: 2%;
            width: 100%;
            background-color: black;
            position: fixed;
            top :0;
            height: 100vh;
            padding-top: 7px;
            opacity: 0;

            // investigar si lo siguiente es correcto
            // o si hay otra forma de hacerlo mejor
            pointer-events: none;
            
    
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                // text-transform: uppercase;
                line-height: 80px;
                opacity: 1;
                li {
                    font-size: 25px;
                    a {
                        color: white
                        
                    }
                }

                
                .close-menu {
                    display: block;
                    // justify-self: ;
                    // background: none;
                    align-self: flex-end;
                    // justify-self: flex-start;
                    
                    img {
                        height: 60px;
                        width: 60px;
                    }
                }
            }
        }

        .open-menu {
            display: block;
            background: none;
            img {
                height: 60px;
                width: 60px;
            }
        }
    }

    main {
        
        .hero {
            padding: 0;
            flex-direction: column;
            align-items: center;
            .foto {
                width: 100%;

                img {
                    border-radius: 0%;
                    width: 100%;
                    // height: ;
                }
            }
        }
    }

    footer {
        
        flex-direction: column;
        position: fixed;
        bottom: 0;
        //height: 80px;
        .links {
            display: none;
        }

        .social-media {
            border: none;
            width: 100%;
            // align-content: center;
            // justify-content: center;
        }
    }

    .menu_opened {
        opacity: 1;
        // display: block;
        pointer-events: all;
        // background-color: aqua;

    }
    
}